* {
	font-family: Comic Sans MS;
	background-color: black;
}

p {
	font-size: 20px;
	color: white;
	display: inline-block;
	max-width: 40%;
	padding-left: 64px;
	padding-top: 32px;
}

h1 {
	color: lightgreen;
	padding-left: 64px;
	letter-spacing: 8px;
}

a {
	text-decoration: none;
}

.feed {
	float: right;
	border: 2px solid white;
	padding-left: 64px;
	width: 40%
}